CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_QSDK_512=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_FEATURE_QCA_IOT_IPQ50XX_SUPPORT=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_KERNEL_ALLOC_SKB_PAGE_FRAG_DISABLE=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=512
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
# CONFIG_KERNEL_SKB_RECYCLER is not set
# CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU is not set
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_shadow-all is not set
CONFIG_TOOLCHAINOPTS=y
CONFIG_WIFI_LOG_UTILS=y
# CONFIG_WIFI_TARGET_WIFI_2_0 is not set
CONFIG_WPA_MSG_MIN_PRIORITY=0
